#goTop {
	bottom: 60px;
	cursor: pointer;
	display: none;
	height: 35px;
	position: fixed;
	right: 60px;
	width: 44px;
	z-index: 1000;
	align-items: 
}

.col-md-duy{
	position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.ribbon.hot {
  background: #f71a13;
}

.ribbon.newduy {
  background: #38c910;
}

p.lead-duy {
  margin-bottom: 10px;
}
